$primary-color: #0ad4fa !default;
$primary-color-darken: #25bbf1 !default;


$gray: #a3a3a3 !default;
$gray-light: #ededed !default;
$gray-darken: #616161;


$gold: #f7ae15 !default;
$gold-light: #ffcf00 !default;
$gold-darken: #e6a316 !default;
$coin-inner: #f8b013 !default;
