@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
