@import "types";
@import "buttons";
@import "breakpoints";
@import "colors";
@import "variables";

body {
  background-color: $gray-background;
}

.container {
  max-width: $container-size;
  margin: auto;
  padding-bottom: 74px;

  @media screen and (max-width: $breakpoint-tablet) {
    margin: 0 10px;
  }
}

.loading {
  position: relative;
  background: url('../images/aerolab-logo.svg') no-repeat center center;
  background-size: contain;
  width: 100px;
  height: 100px;
  margin: 50px 0 25px 0;
  opacity: 0.2;
  animation: slide infinite 5s ease;
}

@keyframes slide {
  0% { left: 25%; transform: rotate(0deg);}
  50% { left: 75%; transform: rotate(10deg); }
  100% { left: 25%; transform: rotate(0deg); }
}

p,
h1,
div {
  cursor: default;
}
