@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif; }

.btn {
  font-size: 24px;
  letter-spacing: -0.15px;
  line-height: 48px;
  text-align: left;
  border-radius: 100px;
  padding: 0 24px;
  background: #ededed;
  color: #a3a3a3;
  border: none;
  font-weight: normal;
  cursor: pointer;
  transition: 0.3s ease; }
  .btn:hover {
    box-shadow: 1px 1px 5px #a3a3a3; }
  .btn:focus {
    outline: none; }
  .btn.active {
    background: #0ad4fa;
    color: #ffffff; }
  .btn-white {
    background-color: #ffffff;
    color: #616161; }

button {
  border: none;
  padding: 0;
  cursor: pointer; }
  button:focus {
    outline: none; }

.container {
  max-width: 1176px;
  margin: auto;
  padding-bottom: 74px; }
  @media screen and (max-width: 768px) {
    .container {
      margin: 0 10px; } }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
