.coin {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  width: 24px;
  height: 24px;
  background-image: radial-gradient(50% -18%, #ffcf00 50%, #f7ae15 100%);
  border-radius: 100%;
  transition: 0.3s ease; }
  .coin:hover {
    transform: rotateY(180deg); }
  .coin-first-ring {
    position: absolute;
    background: #f8b013;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    border: 1px solid #e6a316;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px; }
  .coin-second-ring {
    position: absolute;
    background: #f8b013;
    width: 14px;
    height: 14px;
    border: 1px solid #e6a316;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px; }
