@import "breakpoints";
@import "colors";
@import "flex";
@import "variables";

.header {
  &-info {
    @include flex(row, space-between);
    height: $header-info-height;
    padding: $header-info-padding-top-bottom $header-info-padding-right-left;

    &-logo {
      height: 36px;
      width: 40px;
      margin: 6px 0;
    }

    &-user {
      @include flex(row, center);

      p {
        font-size: 24px;
        color: $gray-darken;
        letter-spacing: -0.15px;
        line-height: 48px;
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
      }

      &-points {
        @include flex(row, space-around);

        background: $gray-light;
        border-radius: 100px;
        width: 103px;
        height: 48px;
        padding: 0 13px;
        margin-left: 18px;
        transition: 0.3s ease;

        &:hover {
          box-shadow: 1px 1px 5px $gray;

          img {
            transform: rotateY(180deg);
          }
        }

        img {
          transition: 0.3s ease;
        }
      }

    }
  }

  &-banner {
    position: relative;
    background-color: #000000;
    width: 100%;
    height: 412px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/header-x1.png');

    @media screen and (min-width: $breakpoint-tablet) {
      background-image: url('../images/header-x2.png');
    }

    &-title {
      position: absolute;
      bottom: 48px;
      font-size: 64px;
      color: #ffffff;
      text-align: left;
    }
  }
}
