@import "breakpoints";
@import "variables";

.products {
  margin: 41px 0 0 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 24px;
  grid-row-gap: 24px;

  @media only screen and (max-width: $breakpoint-tablet) {
    grid-template-columns: auto;
  }

  @media only screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-medium) {
    grid-template-columns: auto auto;
  }

  @media screen and (min-width: $breakpoint-medium) and (max-width: $container-size - 1) {
    grid-template-columns: auto auto auto;
  }
}
